.vscode
code/env/bin/
code/env/include/
code/env/lib/
code/env/share/
code/env/tools/
code/build

code/third_party/Fast-CDR-1.0.24/
code/third_party/Fast-DDS-2.7.1/
code/third_party/gflags-2.2.2/
code/third_party/glog-0.6.0/
code/third_party/googletest-release-1.12.1/
code/third_party/memory-0.7-3/
code/third_party/protobuf-3.14.0/
code/third_party/tinyxml2-6.0.0/
install/bin/
install/include/
install/lib/
install/setup.bash
install/setup.zsh
install/share/
install/examples
*.log
*.INFO
*.log.INFO*